---
http_interactions:
- request:
    method: get
    uri: https://the7thcapo18.zendesk.com/api/v2/tickets?page=60
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dGhlN3RoY2Fwb0BnbWFpbC5jb206RGVza3RvcFpFTjE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Zendesk-Api-Version:
      - v2
      X-Zendesk-Application-Version:
      - v2307.38
      X-Rate-Limit:
      - '400'
      X-Rate-Limit-Remaining:
      - '392'
      Etag:
      - W/"1097926aca8e07c947fcf7d7a4c138ee"
      X-Zendesk-Origin-Server:
      - app27.pod23.use1.zdsys.com
      X-Zendesk-Request-Id:
      - eeaf909f2240768f6a3b
    body:
      encoding: UTF-8
      string: '{"tickets":[],"next_page":null,"previous_page":"https://the7thcapo18.zendesk.com/api/v2/tickets.json?page=59","count":201}'
  recorded_at: Tue, 11 Jun 2019 14:13:55 GMT
recorded_with: VCR 5.0.0
