---
http_interactions:
- request:
    method: get
    uri: https://the7thcapo18.zendesk.com/api/v2/tickets.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dGhlN3RoY2Fwb0BnbWFpbC5jb206RGVza3RvcFpFTjE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Zendesk-Api-Version:
      - v2
      X-Zendesk-Application-Version:
      - v2307.25
      X-Rate-Limit:
      - '400'
      X-Rate-Limit-Remaining:
      - '399'
      Etag:
      - W/"83a4bb324ee0085190acb072286e76b9"
      X-Zendesk-Origin-Server:
      - app13.pod23.use1.zdsys.com
      X-Zendesk-Request-Id:
      - 804b679f7f3711a6f620
    body:
      encoding: UTF-8
      string: '{"tickets":[],"next_page":null,"previous_page":null,"count":0}'
  recorded_at: Wed, 05 Jun 2019 05:56:48 GMT
recorded_with: VCR 5.0.0
